## Self-Assessment
- I thoroughly understood the content of the fifth lecture and completed all assigned exercises.
- The concept of **REGEX** was a refresher and also some of the nuances like **ravel** and **flatten** was new to me
- The concepts were clear and well-structured, which allowed me to apply the coding norms confidently. 
- I now have a fair understanding of how to write scripts for the markdown cells and have taken less help from the AI tools, unlike the first assignment.

## Problems Faced While Completing the Exercises
- Content Generation and Structure: Utilized ChatGPT and Gemini to assist in creating the professional markdown files with clear formatting and structure.

## Assignment Number 7.23 Data Science: Pandas DataFrames
### LabAssist: Model your code after the code examples in Section 7.14.2

**(a)** Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine', 'James' and 'Amanda'

In [85]:
##importing the necessary modules
import numpy as nm
import pandas as pd

In [86]:
three_temp = {
    'Maxine': [100, 90, 110],
    'James': [95, 87, 120],
    'Amanda': [110, 84, 79]
}
temperatures = pd.DataFrame(three_temp)
temperatures

   Maxine  James  Amanda
0     100     95     110
1      90     87      84
2     110    120      79

### Explanation 
- First create a list with key-value pair
- Assign the created dictionary to the datframe object through panda

**(b)** Recreate the DataFrame temperatures in Part (a) with custom indices using the index keyword argument and a list containing 'Morning', 'Afternoon' and 'Evening'.

In [87]:
temperatures = pd.DataFrame(three_temp, index=['Morning', 'Afternoon', 'Evening'])
temperatures

           Maxine  James  Amanda
Morning       100     95     110
Afternoon      90     87      84
Evening       110    120      79

### Explanation
- The dataframe gives an option to customize the index for the dataframe using the specified custom indices with the index keyword argument after we created the DataFrame

**(c)** Select from temperatures the column of temperature readings for 'Maxine'

In [88]:
temperatures['Maxine']

Morning      100
Afternoon     90
Evening      110
Name: Maxine, dtype: int64

### Explanation
- Use DataFrame‚Äôs column-name strings as attributes and retrieve the column data

**(d)** Select from temperatures the row of 'Morning' temperature readings.

In [89]:
temperatures.loc['Morning']

Maxine    100
James      95
Amanda    110
Name: Morning, dtype: int64

### Explanation
- **loc** gives access to the row by using data frame's label

**(e)** Select from temperatures the rows for 'Morning' and 'Evening' temperature readings

In [90]:
temperatures.loc[['Morning','Evening']]

         Maxine  James  Amanda
Morning     100     95     110
Evening     110    120      79

### Explanation
- To select specific rows, use a list of the dataframe and specify the row names which you want to get the output for

**(f)** Select from temperatures the columns of temperature readings for 'Amanda' and 'Maxine'

In [91]:
temperatures[['Amanda','Maxine']]

           Amanda  Maxine
Morning       110     100
Afternoon      84      90
Evening        79     110

**(g)** Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning' and 'Afternoon'.

In [92]:
temperatures.loc['Morning':'Afternoon', 'Maxine':'Amanda']

           Maxine  James  Amanda
Morning       100     95     110
Afternoon      90     87      84

**(h)** Use the describe method to produce temperatures‚Äô descriptive statistics

In [93]:
temperatures.describe()

       Maxine       James      Amanda
count     3.0    3.000000    3.000000
mean    100.0  100.666667   91.000000
std      10.0   17.214335   16.643317
min      90.0   87.000000   79.000000
25%      95.0   91.000000   81.500000
50%     100.0   95.000000   84.000000
75%     105.0  107.500000   97.000000
max     110.0  120.000000  110.000000

### Explanation
- The describe function of the dataframe gives an entire list of descriptive statistics

**(i)** Transpose temperatures

In [94]:
temperatures.T

        Morning  Afternoon  Evening
Maxine      100         90      110
James        95         87      120
Amanda      110         84       79

### Explanation
- Transpose the so called rows and columns of the dataframe to -> the rows become the columns, and the columns become the rows‚Äîby using the T attribute

**(j)** Sort temperatures so that its column names are in alphabetical order

In [95]:
temperatures.sort_index( axis = 1)

           Amanda  James  Maxine
Morning       110     95     100
Afternoon      84     87      90
Evening        79    120     110

### Explanation
- Sort the columns into ascending order (left-to-right) by data frame's column names.
- Passing the axis=1 keyword argument indicates that we wish to sort the column indices

# Assignment Number 8.3 (Pig Latin)
**Exercise Description**
- Write a script that encodes English-language phrases into a form of coded language called pig Latin.
- There are many different ways to form pig Latin phrases.
- For simplicity, use the following algorithm:
    - To form a pig Latin phrase from an English-language phrase, tokenize the phrase into words with string method split.
    -  To translate each English word into a pig Latin word, place the first letter of the English word at the end of the word and add the letters ‚Äúay.‚Äù
        - Thus, the word ‚Äújump‚Äù becomes ‚Äúumpjay,‚Äù the word ‚Äúthe‚Äù becomes ‚Äúhetay,‚Äù and the word ‚Äúcomputer‚Äù becomes ‚Äúomputercay.‚Äù If the word starts with a vowel, just add ‚Äúay.‚Äù
       -  Blanks between words remain as blanks.
       -  Assume the following:
               - The English phrase consists of words separated by blanks, there are no punctuation marks and all words have two or more                  letters.
    
- Enable the user to enter a sentence, then display the sentence in pig Latin.
  
**LabAssist:** 
-  Remember that strings can be sliced like lists

In [1]:
def pig_latin(sentence):
    """
    Converts a sentence into Pig Latin.

    Each word is transformed by moving its first letter to the end
    and adding 'ay'. Returns the resulting sentence.
    """
    words = sentence.split()
    pig_latin_words = [word[1:] + word[0] + 'ay' for word in words]
    return ' '.join(pig_latin_words)

In [2]:
check = 'Y'
while check.upper() == 'Y':
    sentence = input("Enter the sentence to convert into Pig Latin: ").strip()
    converted_string = pig_latin(sentence)
    print(f'The resulting converted string in Pig Latin is: "{converted_string}"')
    check = input('Do you wish to continue (Y/N)? ').strip()

print('Thank you for interaction.')

Enter the sentence to convert into Pig Latin:  India wins the world cup

The resulting converted string in Pig Latin is: "ndiaIay insway hetay orldway upcay"

Do you wish to continue (Y/N)?  N

Thank you for interaction.

## Explanation

- The function **pig_latin** converts the user inputted string in Pig latin format
- The function **.split()** used in the function is used to conver the string into a list of indivisual words
    - For example sentence is **Hello World**. the split function returns ['hello','world'] as output
- The Method iterates for each word and then returns the concatenated string
    - The **' '.join** keyword used is used to concatenate the strings into one
- The main logic for the program ass users to input the sentence for the conversion
- It calls the defined function and then returns the output int he desired format of **Pig Latin**

# Assignment Number 8.8 Converting Integers to Emojis ‚Äî 

- Display 10 emojis beginning with the smiley face, which has the value 0x1F600:5
- The value 0x1F600 is a hexadecimal (base 16) integer.
- See the online appendix ‚ÄúNumber Systems‚Äù for information on the hexadecimal number system.
- You can find emoji codes by searching online for ‚ÄúUnicode full emoji list.‚Äù
- The Unicode website precedes each character code with "U+" (representing Unicode).
- Replace "U+" with "0x" to properly format the code as a Python hexadecimal integer

## LabAssist: For fun, go to
 - [Full Emoji List](https://unicode.org/emoji/charts/full-emoji-list.html) research the ranges of Unicode values for all emoji characters and try to print them all.
- **Does your system support all of them?**

In [125]:
## the value 0x1F600 is a hexadecimal (base 16) integer for the first smiley to be displayed
start_emoji = 0x1F600

# Number of emojis to display
num_emojis = 10

# Print 10 consecutive emojis starting from üòÄ
for code in range(start_emoji, start_emoji + num_emojis):
     print(f'{code:c}', end=' ')

üòÄ üòÅ üòÇ üòÉ üòÑ üòÖ üòÜ üòá üòà üòâ

## Explanation
- **f'{code:c}** is used to convert the hexadecimal integer to its respective smiley character
- The main code only prints the first 10 smiley characters which can be scaled to more characters to be displayed